assignments/10/38/b.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Buch">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="autor" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="isbn"></xs:attribute>
            <xs:attribute type="xs:int" name="jahr" ></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>